[submodule "config"]
	path = config
	url = https://github.com/DerZombiiie/dzerver-config
	branch = main
[submodule "modules/test"]
	path = modules/test
	url = https://github.com/DerZombiiie/dzerver-test
